{% extends "recipes/base.html" %}

{% block content %}
<h2 class="text-5xl font-bold text-center font-serif mb-6">Create a new recipe</h2>
<div class="grid grid-cols-1 lg:grid-cols-2 mx-auto lg:w-2/3">
  <div class="lg:w-96 m-4">
    <h3 class="text-3xl mb-4">Details</h3>
    <form action="new_recipe/save" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <label for="name">Recipe name: </label><br>
        <input class="w-full shadow" type="text" name="name"><br>
        <label for="duration">Duration [min]: </label><br>
        <input class="w-full shadow" type="text" name="duration"><br>
        <label for="duration">Ingredients (one per line)</label><br>
        <textarea class="w-full shadow" name="ingredients"></textarea><br>
        <label for="instructions">Instructions</label><br>
        <textarea class="w-full shadow" name="instructions"></textarea><br>
        {% if img_obj %}  
          <input type="hidden" name="image" value={{img_obj.id}}><br>
        {% endif %}
      </fieldset>
      <input class="btn btn-blue shadow-md mt-4" type="submit" value="Save recipe">
      <button class="btn btn-blue shadow-md"><a href="{% url 'index' %}">Back</a></button>
    </form>
  </div>
  <div class="lg:w-96 m-4">
    <h3 class="text-3xl mb-4">Picture</h3>
    <form action={% url 'new_recipe' %} method="post" enctype="multipart/form-data">
      {% csrf_token %}  
      {{ form.as_p }}  
      <button class="btn btn-blue shadow-md mt-4" type="submit">Upload</button>
    </form>  

    {% if img_obj %}
      <h3>Image: {{img_obj.caption}}</h3>  
      <img src="{{ img_obj.image.url}}" alt="image not found" style="max-height:200px">  
    {% endif %}
  </div>
</div>

{% endblock %}